<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
    <div class="container">
        <h1>Lista de Clientes</h1>
        <table id="clientesTable">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>CPF</th>
                    <th>Endereço</th>
                    <th>Data de Nascimento</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <!-- Os clientes serão inseridos aqui via JavaScript -->
            </tbody>
        </table>
        
        <a href="/" class="btn-voltar">Voltar</a>
    </div>
    
    <script th:src="@{/script.js}"></script>
</body>
</html>
